<h2>Aggiungi Nuovo Utente</h2>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  
  <div>
    <label for="firstName">Nome:</label>
    <input id="firstName" type="text" formControlName="firstName">
    
    <div *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched" style="color: red;">
      Il nome è obbligatorio.
    </div>
  </div>

  <div>
    <label for="lastName">Cognome:</label>
    <input id="lastName" type="text" formControlName="lastName">
    <div *ngIf="userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched">
      Il cognome è obbligatorio.
    </div>
  </div>

  <div>
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
    <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
      <span *ngIf="userForm.get('email')?.errors?.['required']">L'Email è obbligatoria.</span>
      <span *ngIf="userForm.get('email')?.errors?.['email']">Inserisci un'email valida.</span>
    </div>
  </div>

 <div>
    <label for="cellulare">Cellulare:</label>
    <input id="cellulare" type="cellulare" formControlName="cellulare">
    <div *ngIf="userForm.get('cellulare')?.invalid && userForm.get('cellulare')?.touched">
        <span *ngIf="userForm.get('cellulare')?.errors?.['required']">Il numero di Cellulare è obbligatorio.</span>
    </div>
  </div>
  
  <input type="hidden" formControlName="role">

  <button type="submit" [disabled]="userForm.invalid">
    Aggiungi Utente
  </button>
</form>