<h2>Registrazione</h2>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="username">Username:</label>
    <input id="username" type="text" formControlName="username">

    <div *ngIf="userForm.get('username')?.invalid && userForm.get('username')?.touched" style="color: red;">
      Il nome è obbligatorio.
    </div>
  </div>


  <div>
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
    <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
      <span *ngIf="userForm.get('email')?.errors?.['required']">L'Email è obbligatoria.</span>
      <span *ngIf="userForm.get('email')?.errors?.['email']">Inserisci un'email valida.</span>
    </div>
  </div>

  <div>
    <label for="cellulare">Cellulare:</label>
    <input id="cellulare" type="cellulare" formControlName="cellulare">
    <div *ngIf="userForm.get('cellulare')?.invalid && userForm.get('cellulare')?.touched">
      <span *ngIf="userForm.get('cellulare')?.errors?.['required']">Il numero di Cellulare è obbligatorio.</span>
    </div>
  </div>
  <div>
    <div>
      <label for="ruolo">Ruolo:</label>
      <select id="ruolo" class="form-control" formControlName="roles" required
        (change)="selectRole($event)">
        <option value="" disabled>-- Scegli Ruolo --</option>
        <option value="UTENTE">Utente</option>
        <option value="PT">PT</option>
        <option value="ADMIN">Admin</option>
      </select>
    </div>



    <!-- <div *ngIf="userForm.get('cellulare')?.invalid && userForm.get('cellulare')?.touched">
      <span *ngIf="userForm.get('cellulare')?.errors?.['required']">Il numero di Cellulare è obbligatorio.</span>
    </div> -->
  </div>


  <!-- <input type="hidden" formControlName="role"> -->

  <button type="submit" [disabled]="!userForm.valid">
    Registrati
  </button>
</form>