<h2>Aggiungi Nuovo Macchinario:</h2>
<form #form="ngForm" (ngSubmit)="submit()">
    <input 
        type="text" 
        placeholder="inserisci nome" 
        name="nome" 
        [(ngModel)]="macchinario.nome"
        required
        #nomeInput="ngModel"  >

    <div *ngIf="nomeInput.invalid && (nomeInput.dirty || nomeInput.touched)">
        <div *ngIf="nomeInput.errors?.['required']">
            Il nome è obbligatorio.
        </div>
    </div>
    
    <button type="submit" [disabled]="!form.valid">Salva</button>
</form>



