<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Lista Utenti e Personal Trainer</h2>

  <div class="d-flex align-items-center gap-2">
    <button class="insert-button" (click)="goToCreate()">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
</div>

<div class="table-container">
  <table class="table table-striped">
    <thead class="table-light">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Ruolo</th>
        <th scope="col" style="width: 120px;"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of (utenti$| async)">
        <td>{{ u.id }}</td>
        <td>{{ u.name }} {{ u.lastName }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.roles }}</td>
        <td class="action-buttons">
          <button class="btn btn-primary" (click)="goToDetail(u.id!)" title="Modifica">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn btn-danger" (click)="delete(u.id!)" title="Elimina">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
      <!-- </tr>
      <tr *ngIf="(utenti$| async)?.length === 0">
        <td colspan="5" class="text-center">Nessun utente trovato.</td>
      </tr> -->
    </tbody>
  </table>
  <div>

    <div class="d-flex justify-content-between align-items-center mt-3">
      <button class="btn btn-light" (click)="paginaPrecedente()" [disabled]="currentPage === 0">← Precedente</button>
      <small>Pagina {{ currentPage + 1 }} / {{ totalPages || 1 }}</small>
      <button class="btn btn-light" (click)="paginaSuccessiva()" [disabled]="currentPage >= totalPages - 1">Successiva
        →</button>
    </div>
    <div class="text-center mt-4">
      <button class="btn btn-secondary" (click)="tornaHome()">🏠 Torna alla Home</button>
    </div>