<div class="container">
  <!-- HEADER -->
  <div class="modal-header">
    <h2 class="title" id="basic-title">Aggiungi Dettagli Esercizio:</h2>
  </div>

  <!-- BODY -->
  <div class="modal-body">
    <form #form="ngForm" novalidate>
      <div class="mb-3">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Inserisci serie"
            name="serie"
            [(ngModel)]="dettaglioEsercizio.serie"
            required
          />
          <div *ngIf="!dettaglioEsercizio.serie" class="error-msg">
            Il numero di serie è obbligatorio.
          </div>

          <input
            type="text"
            class="form-control"
            placeholder="Inserisci ripetizioni"
            name="ripetizioni"
            [(ngModel)]="dettaglioEsercizio.ripetizioni"
            required
          />
          <div *ngIf="!dettaglioEsercizio.ripetizioni" class="error-msg">
            Il numero di ripetizioni è obbligatorio.
          </div>

          <input
            type="text"
            class="form-control"
            placeholder="Inserisci recupero"
            name="recupero"
            [(ngModel)]="dettaglioEsercizio.recupero"
            required
          />
          <div *ngIf="!dettaglioEsercizio.recupero" class="error-msg">
            La durata del recupero è obbligatoria.
          </div>
        </div>
      </div>

      <!-- BOTTONI -->
      <div class="form-buttons">
        <button class="btn-goBack" type="button" (click)="goBack()">
          <i class="fa-solid fa-house"></i> Torna alla Lista
        </button>
        <button
          class="btn-salva"
          type="submit"
          [disabled]="form.invalid"
          (click)="submit()"
        >
          <i class="fa-solid fa-bookmark"></i> Salva
        </button>
      </div>
    </form>
  </div>
</div>
