<div class="mt-3">
    <form #localForm="ngForm" class="p-4 rounded-lg" style="background-color: #1a1a1a; border: 1px solid rgba(255,30,30,0.5);">
      <div class="row g-3 mb-4">    
        <div class="col-md-4 col-sm-12">
          <h6>Inserisci serie:</h6>
          <input
            type="number" 
            class="form-control"
            placeholder="Serie"
            name="serie"
            #serie="ngModel"
            [(ngModel)]="dettaglioEsercizio.serie"
            required
            min="1"/>
          <div 
            *ngIf="serie.invalid && (serie.dirty || serie.touched)" 
            class="error-msg text-danger mt-1">
            Il numero di serie è obbligatorio.
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <h6>Inserisci ripetizioni:</h6>
          <input
            type="number"
            class="form-control"
            placeholder="Ripetizioni"
            name="ripetizioni"
            #ripetizioni="ngModel"
            [(ngModel)]="dettaglioEsercizio.ripetizioni"
            required
            min="1"/>
          <div 
            *ngIf="ripetizioni.invalid && (ripetizioni.dirty || ripetizioni.touched)" 
            class="error-msg text-danger mt-1">
            Il numero di ripetizioni è obbligatorio.
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <h6>Inserisci recupero:</h6>
          <input
            type="text"
            class="form-control"
            placeholder="Recupero"
            name="recupero"
            #recupero="ngModel"
            [(ngModel)]="dettaglioEsercizio.recupero"
            required/>
          <div 
            *ngIf="recupero.invalid && (recupero.dirty || recupero.touched)" 
            class="error-msg text-danger mt-1">
            La durata del recupero è obbligatoria.
          </div>
        </div>
      </div>
    </form>
    </div>
